.rowPadding {
    padding-bottom: 15px;
}

.label {
    margin-bottom: 8px !important;
}

nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
}

.rowPadTop {
    padding-top: 15px;
}

.link {
    color: cornflowerblue;
    font-size: 14px;
}

.img {
    height: 29px;
}