 .table {
     width: 100%;
     margin-bottom: 0rem;
     color: #212529;
 }

 .container {
     padding: 2rem 0rem;
 }

 .my-icon {
     font-size: 14px;
     color: gray;
     cursor: pointer;
     margin-left: 10px;
 }

 .top-perpage {
     top: 10px
 }

 ::ng-deep .ngx-pagination {
     padding-left: 0px !important;
     margin-bottom: 0px !important;
 }

 .ngx-pagination .current,
 .btn-info {
     background: #17a2b8 !important;
     border: transparent !important;
     border-radius: 20px !important;
 }

 .ngx-pagination .current:hover {
     background: #17a2b8 !important;
     border-radius: 20px !important;
     border: transparent !important;
 }

 .table-image {

     td,
     th {
         vertical-align: middle;
     }
 }

 .table tbody tr:nth-child(even) {
     background-color: #f1f1f1;
 }

 .paginateDiv {
     width: 100%;
     ;
 }

 .row.pagerow {
     width: 100%;
     margin: 0px;
 }

 .top-perpage {
     top: 10px
 }

 .perpage {
     text-align: right;
 }

 .per-page-drop {
     width: 141px;
     height: 37px;
 }

 .no-right-padding {
     padding: 0px;
 }

 .no-left-padding {
     padding: 0px;
 }

 @media only screen and (max-width: 750px) {
    .checkbox.checbox-switch label{
      margin-bottom: 0px;
    }
    table, thead, tbody, th, td, tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      border: 1px solid #ccc;
    }
    td {
      border: none;
      border-bottom: 1px solid #e0e0e0;
      position: relative;
      padding-left: 20px;
      margin-left: 150px;
      min-height: 50px;
    }
    td:before {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 151px;
      padding: 12px;
      white-space: nowrap;
      margin-left: -150px;
      min-height: 50px;
      border-bottom: 1px solid #e0e0e0;
    }
    td:nth-of-type(1):before {
      content: "Name";
    }
    td:nth-of-type(2):before {
      content: "Max Retry Count";
    }
    td:nth-of-type(3):before {
      content: "Created By";
    }
    td:nth-of-type(4):before { 
      content: "Created On";
    }
    td:nth-of-type(5):before { 
        content: "View";
    }
    td:nth-of-type(6):before { 
    content: "Edit";
    }
    td:nth-of-type(7):before { 
    content: "Delete";
    }
  }
  @media only screen and (max-width: 500px) {
    td:before {
      width: 111px;
      margin-left: -101px;
    }
    td{
      margin-left: 100px;
    }
  } 