.p-text {
  background-color: #f7f9fc;
  border-radius: 7px;
}
.text-color {
  color: #000000;
}

.btn-down {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 8px 30px;
  cursor: pointer;
  font-size: 14px;
}


.label {
  margin-bottom: 8px !important;
}

.link {
  color: cornflowerblue;
  font-size: 14px;
}
.img {
  height: 29px;
}
.btnimg {
  background-color: #e4e9f2;
}

.rowPadTOp {
  padding-top: 15px;
}
.invalid-feedback-frm {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
