nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}

label.label{
  margin-bottom: 8px !important;
}
.invalid-feedback-frm {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 13px;
  color: #dc3545;
}
.formWidth{
  width: 50%;
}

.rowPadTOp{
  padding-top: 15px;
}
@media only screen and
(min-width: 10px)and
(max-width: 740px) {
  .formWidth{
    width: auto;
  }
}
.upload-button {
  border: 1px solid #e4e9f2;
  display: block;
  padding: 7px;
}