<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <h2>{{ title }} Credential</h2>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="credentialForm" autocomplete="off">
          <div class="row rowPadding">
            <div class="col-md-12 col-lg-12 col-xxxl-6">
              <label for="name" class="label">Name *</label>
              <input type="input" nbInput fullWidth id="name" formControlName="name" placeholder="Please enter name"
                ngxSpecialChar trim="blur" />
              <div *ngIf="
                controls.name.invalid && (controls.name.dirty || controls.name.touched)" class="invalid-feedback-frm">
                <div *ngIf="controls.name.errors.required">
                  Name is required.
                </div>
                <div *ngIf="controls.name.errors.minlength">
                  Name must be at least 3 characters long.
                </div>
                <div *ngIf="controls.name.errors.maxlength">
                  Name can be 100 characters long.
                </div>
              </div>
            </div>
          </div>
          <div class="row rowPadding">
            <div class="col-md-6 col-lg-6 col-xxxl-6">
              <label for="provider" class="label">Provider *</label>
              <select class="custom-select" formControlName="provider">
                <option value="" disabled>Please select provider</option>
                <option *ngFor="let item of providerArr" [value]="item?.id">
                  {{ item?.name }}
                </option>
              </select>
              <div *ngIf="
                  controls.provider.invalid &&
                  (controls.provider.dirty || controls.provider.touched)
                " class="invalid-feedback-frm">
                <div *ngIf="controls.provider.errors.required">
                  Provider is required.
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xxxl-6">
              <label for="domain" class="label">Domain</label>
              <input type="input" nbInput fullWidth id="domain" formControlName="domain"
                placeholder="Please enter domain" ngxSpecialChar trim="blur" />
              <div *ngIf="
                  controls.domain.invalid &&
                  (controls.domain.dirty || controls.domain.touched)
                " class="invalid-feedback-frm">
                <!-- <div *ngIf="controls.domain.errors.required">
                  Domain is required.
                </div> -->
                <div *ngIf="controls.domain.errors.minlength">
                  Domain must be at least 3 characters long.
                </div>
                <div *ngIf="controls.domain.errors.maxlength">
                  Domain can be 100 characters long.
                </div>
              </div>
            </div>
          </div>

          <div class="row rowPadding">
            <div class="col-md-6 col-lg-6 col-xxxl-6">
              <label for="userName" class="label">User Name *</label>
              <input type="input" nbInput fullWidth id="userName" formControlName="userName"
                placeholder="Please enter user name" trim="blur" />
              <div *ngIf="
                  controls.userName.invalid &&
                  (controls.userName.dirty || controls.userName.touched)
                " class="invalid-feedback-frm">
                <div *ngIf="controls.userName.errors.required">
                  User name is required.
                </div>
                <div *ngIf="controls.userName.errors.minlength">
                  User name must be at least 3 characters long.
                </div>
                <div *ngIf="controls.userName.errors.maxlength">
                  User name can be 100 characters long.
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xxxl-6">
              <label for="passwordSecret" class="label">Password Secret</label>
              <input type="password" nbInput fullWidth id="passwordSecret" formControlName="passwordSecret"
                placeholder="Please enter password secret" trim="blur" />
              <div *ngIf="
                  controls.passwordSecret.invalid &&
                  (controls.passwordSecret.dirty ||
                    controls.passwordSecret.touched)
                " class="invalid-feedback-frm">
                <!-- <div *ngIf="controls.passwordSecret.errors.required">
                  Password secret is required.
                </div> -->
                <div *ngIf="controls.passwordSecret.errors.minlength">
                  Password secret must be at least 3 characters long.
                </div>
                <div *ngIf="controls.passwordSecret.errors.maxlength">
                  Password secret can be 100 characters long.
                </div>
              </div>
            </div>
          </div>
          <div class="row rowPadding">
            <div class="col-md-6 col-lg-6 col-xxxl-6">
              <label for="startDate" class="label">Start Date</label>
              <!-- <input nbInput fullWidth placeholder="Please enter start date" [nbDatepicker]="picker" id="startDate"
                formControlName="startDate" ngxSpecialChar />
              <nb-datepicker #picker [min]="min"></nb-datepicker> -->
              <input nbInput fullWidth formControlName="startDate" [owlDateTimeTrigger]="dtPicker1"
                [owlDateTime]="dtPicker1" [min]="min" />
              <owl-date-time #dtPicker1></owl-date-time>
              <div *ngIf="
                  controls.startDate.invalid &&
                  (controls.startDate.dirty || controls.startDate.touched)
                " class="invalid-feedback-frm">
                <!-- <div *ngIf="controls.startDate.errors.required">
                  Start date is required.
                </div> -->
              </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xxxl-6">
              <label for="startDate" class="label">End Date</label>
              <!-- <input nbInput fullWidth formControlName="endDate" placeholder="Please enter end date"
                [nbDatepicker]="pick" ngxSpecialChar />
              <nb-datepicker #pick [min]="min"></nb-datepicker> -->
              <input nbInput fullWidth formControlName="endDate" [owlDateTimeTrigger]="datetPicker1"
                [owlDateTime]="datetPicker1" [min]="min" />
              <owl-date-time #datetPicker1></owl-date-time>
              <div *ngIf="
                  controls.endDate.invalid &&
                  (controls.endDate.dirty || controls.endDate.touched)
                " class="invalid-feedback-frm">
                <!-- <div *ngIf="controls.endDate.errors.required">
                  End date is required.
                </div> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-lg-12 col-xxxl-6">
              <button class="btn btn-primary" status="primary" type="submit"
                [disabled]="credentialForm.invalid || isSubmitted" (click)="credential()">
                Save
              </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>