
<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-6">
      <div class="whiteBk">
        <img src="../../../assets/images/OBServer_logo.png" class="loginLogo" alt="OpenBots Server Logo" />
        <div class="loginFormInner">
            <h1>Change password</h1>
            <p class="sub-title">Please set a new password</p>
            <nb-alert *ngIf="showMessages?.error && errors?.length && !submitted" outline="danger" role="alert">
              <p class="alert-title"><b>Oh snap!</b></p>
              <ul class="alert-message-list">
                <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
              </ul>
            </nb-alert>
            
            <nb-alert *ngIf="showMessages?.success && messages?.length && !submitted" outline="success" role="alert">
              <p class="alert-title"><b>Hooray!</b></p>
              <ul class="alert-message-list">
                <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
              </ul>
            </nb-alert>
            
            <div [formGroup]="resetPasswordForm" aria-labelledby="title">
              <div class="form-control-group">
                <label for="input-old_password"> Old Password</label>
                <input  nbInput
                        autofocus
                        fullWidth
                        id="input-old_password"
                        formControlName="old_password"
                        type="password"
                        [status]="old_password.dirty ? (old_password.invalid  ? 'danger' : 'success') : ''"
                        class="first"
                        placeholder="Enter your old password">
                <ngx-validation-message label="Old Password" [showMinLength]="old_password?.hasError('minlength') && old_password.touched"
                  [showMaxLength]="old_password?.hasError('maxlength') && old_password.touched"
                  [showRequired]="old_password?.errors?.required && old_password.touched"
                  [minLength]="minLength"
                  [maxLength]="maxLength"></ngx-validation-message>
              </div>
              <div class="form-control-group">
                <label for="input-password">Password</label>
                <input  nbInput
                        autofocus
                        fullWidth
                        id="input-password"
                        formControlName="password"
                        type="password"
                        [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
                        class="first"
                        placeholder="Enter your new password">
                <ngx-validation-message label="Password" [showMinLength]="password?.hasError('minlength') && password.touched"
                  [showMaxLength]="password?.hasError('maxlength') && password.touched"
                  [showRequired]="password?.errors?.required && password.touched"
                  [minLength]="minLength"
                  [maxLength]="maxLength"></ngx-validation-message>
              </div>
            
              <div class="form-control-group">
                <label for="input-re-password">Confirm Password</label>
                <input  nbInput
                        fullWidth
                        id="input-re-password"
                        formControlName="confirmPassword"
                        type="password"
                        [status]="confirmPassword.dirty ? (confirmPassword.invalid || password.value != confirmPassword.value  ? 'danger' : 'success') : ''"
                        placeholder="Enter your Confirm Password">
                <ngx-validation-message label="Confirm Password"
                  [showMinLength]="confirmPassword?.hasError('minlength') && confirmPassword.touched"
                  [showMaxLength]="confirmPassword?.hasError('maxlength') && confirmPassword.touched"
                  [showRequired]="confirmPassword?.errors?.required && confirmPassword.touched"
                  [minLength]="minLength"
                  [maxLength]="maxLength"></ngx-validation-message>
                <p  class="error-message caption status-danger" *ngIf="password.value != confirmPassword.value && confirmPassword.touched">
                  Password and confirm password does not match!
                </p>
              </div>
            
              <button nbButton status="success" [disabled]="submitted || !resetPasswordForm.valid || password.value != confirmPassword.value"
                [class.btn-pulse]="submitted"
                (click)="resetPass()">
                Change password
              </button>
            </div>
            
            <section class="sign-in-or-up" aria-label="Sign in or sign up">
              <p><a class="text-link" routerLink="/pages/dashboard">Back to DashBoard</a></p>
            </section>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6">
       <img class="imgMaxWidth" src="../../../../assets/images/login-bk.png" alt="Login"/>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 footerPnl">
      <p>© Copyright 2021 |  OpenBots Server  |  Version 1.0 |  Health  | <a href="https://openbots.ai/">www.openbots.ai</a></p>
  </div>
</div>