<nb-card>
  <nb-card-header>
    <div class="titleHeader">
      <div class="titleLeft">
        <div class="LeftBgIcon">
          <img class="img-head-logo" src="../../../../assets/icons/Asset.svg" />
        </div>
        <div class="LeftBgText">
          <h2>Assets</h2>
          <p>
              Resources to be consumed by various automation processes (usually Text, Files, Numbers/Counters and JSONs).
          </p>
        </div>
      </div>
      <div class="titleRight">
        <button type="button" class="btn btn-primary" (click)="gotoadd()">
          Add Asset
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">
            Name
            <i
              (click)="onSortClick($event, 'name')"
              [class]="showallassets | chevron: page.totalCount"
            ></i>
          </th>
          <th scope="col">
            Type
            <i
              (click)="onSortClick($event, 'type')"
              [class]="showallassets | chevron: page.totalCount"
            ></i>
          </th>
          <th scope="col">View</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let asset of showallassets
              | paginate
                : {
                    id: '1',
                    itemsPerPage: page.pageSize,
                    currentPage: page.pageNumber,
                    totalItems: page.totalCount
                  }
          "
        >
          <td scope="row" *ngIf="asset.name != null">
            <ngx-tooltip [data]="asset?.name" [size]="50"> </ngx-tooltip>
          </td>
          <td scope="row" *ngIf="asset.name == null">No Name</td>
          <td scope="row">
            <ngx-tooltip [data]="asset?.type" [size]="13"> </ngx-tooltip>
          </td>
          <td>
            <a (click)="gotodetail(asset.id)">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </a>
          </td>
          <td>
            <a (click)="gotoedit(asset.id)">
              <i class="fa fa-edit"> </i>
            </a>
          </td>
          <td>
            <a (click)="open2(dialog, asset.id)">
              <img
                src="../../../assets/images/del-icon.png"
                alt="Delete Icon"
              />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-body class="noTopPadding">
    <div class="row pagerow">
      <div class="col-md-8 col-lg-8 no-left-padding">
        <pagination-controls
          id="1"
          class="paginateDiv"
          previousLabel="Prev"
          nextLabel="Next"
          responsive="true"
          (pageChange)="pageChanged($event)"
          (pageBoundsCorrection)="pageChanged($event)"
          directionLinks="true"
          autoHide="true"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page"
        ></pagination-controls>
      </div>
      <div
        class="col-md-4 col-lg-4 text-right no-right-padding"
        *ngIf="get_perPage">
        <label class="label">Total {{ showpage.totalCount }} /</label>

        <select
          class="custom-select per-page-drop"
          (change)="per_page($event.target.value)"
        >
          <option *ngFor="let item of itemsPerPage" [value]="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
    </div> 
  </nb-card-body>
</nb-card>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <h6>Delete Agent</h6>
    </nb-card-header>
    <nb-card-body>
      <div aria-labelledby="title">
        <p>Are you sure you want to delete?</p>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-danger" [disabled]="isDeleted" (click)="del_agent(ref)">Delete</button>
      <button class="btn btn-light"  style="margin-left: 11px" (click)="ref.close()">
        Cancel
      </button>

    </nb-card-footer>
  </nb-card>
</ng-template>
