<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-md-8 col-lg-8 col-xxxl-6">
            <h2>Credential Detail </h2>
          </div>

          <div class="col-md-4 col-lg-4 col-xxxl-6 text-right">
            <button type="button" nbTooltip="View Change Logs" nbTooltipPlacement="top" class="btn "
              (click)="navigateToAudit()">
              <img class="img" src="../../../../assets/images/auditLog.svg"> </button>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <form [formGroup]="credentialViewForm" autocomplete="off">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name" class="label col-form-label">Name</label>
                <input type="input" nbInput fullWidth id="name" formControlName="name" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="provider" class="label col-form-label">Provider</label>
                <input type="input" nbInput fullWidth id="provider" formControlName="provider" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="domain" class="label col-form-label">Domain</label>
                <input type="input" nbInput fullWidth id="domain" formControlName="domain" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="userName" class="label col-form-label">User Name</label>
                <input type="input" nbInput fullWidth id="userName" formControlName="userName" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="passwordSecret" class="label col-form-label">Password Secret</label>

                <input type="password" nbInput fullWidth id="passwordSecret" formControlName="passwordSecret" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="passwordHash" class="label col-form-label">Password Hash</label>

                <input type="input" nbInput fullWidth id="passwordHash" formControlName="passwordHash" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="startDate" class="label col-form-label">Start Date</label>
                <input type="datetime" nbInput fullWidth id="startDate" formControlName="startDate" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="endDate" class="label col-form-label">End Date</label>
                <input type="datetime" nbInput fullWidth id="endDate" formControlName="endDate" />
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-6" *ngIf="credentialViewForm && credentialViewForm.value.createdBy">
              <div class="form-group">
                <label for="createdBy" class="label col-form-label">Created By</label>
                <input type="input" nbInput fullWidth id="createdBy" formControlName="createdBy" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group" *ngIf="credentialViewForm && credentialViewForm.value.createdOn">
                <label for="createdOn" class="label col-form-label">Created On</label>
                <input type="input" nbInput fullWidth id="createdOn" formControlName="createdOn" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" *ngIf="credentialViewForm && credentialViewForm.value.updatedBy">
                <label for="updatedBy" class="label col-form-label">Updated By</label>
                <input type="input" nbInput fullWidth id="updatedBy" formControlName="updatedBy" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group" *ngIf="credentialViewForm && credentialViewForm.value.updatedOn">
                <label for="updatedOn" class="label col-form-label">Updated On</label>
                <input type="input" nbInput fullWidth id="updatedOn" formControlName="updatedOn" />
              </div>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>