<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-xxxl-6">
                        <h2>Email Detail</h2>
                    </div>

                    <div class="col-md-4 col-lg-4 col-xxxl-6 text-right">
                        <button type="button" nbTooltip="View Change Logs" nbTooltipPlacement="top" class="btn" (click)="gotoaudit()">
              <img class="img" src="../../../../assets/images/auditLog.svg" />
            </button>
                    </div>
                </div>
            </nb-card-header>
            <nb-card-body>
                <form [formGroup]="emailform">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="agentname" class="label col-form-label">Name</label>

                                <input type="input" nbInput fullWidth id="agentname" formControlName="name" style="color: #000000" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="agentname" class="label col-form-label"> Email Address
                </label>

                                <input type="input" nbInput fullWidth id="agentname" formControlName="fromEmailAddress" style="color: #000000" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="agentname" class="label col-form-label">Provider</label
                >

                <input
                  type="input"
                  nbInput
                  fullWidth
                  id="agentname"
                  formControlName="provider"
                  style="color: #000000"
                />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="agentname" class="label col-form-label"
                  >From Name
                </label>

                                <input type="input" nbInput fullWidth id="agentname" formControlName="fromName" style="color: #000000" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="agentname" class="label col-form-label">Host</label>

                                <input type="input" nbInput fullWidth id="agentname" formControlName="host" style="color: #000000" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="agentname" class="label col-form-label">User Name
                </label>

                                <input type="input" nbInput fullWidth id="agentname" formControlName="username" style="color: #000000" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="createdBy" class="label col-form-label">Created By
                </label>

                                <input type="input" nbInput fullWidth id="createdBy" formControlName="createdBy" style="color: #000000" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="createdOn" class="label col-form-label">Created On
                </label>

                                <input type="input" nbInput fullWidth id="createdOn" formControlName="createdOn" style="color: #000000" />
                            </div>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>