<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-4 ">
    <nb-card>
      <nb-card-header>Terms and Conditions</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-12 col-lg-12 col-xxxl-6">
        <p>Please view, print or save the documents linked below</p>
        <p><a href="https://openbots.ai/terms-conditions
          ">Terms of Use</a><span>Updated April 1,
            2020</span>
        </p>
        <p><a href="https://openbots.ai/privacy-policy/">Privacy Policy</a><span>Updated April 1,
            2020</span></p>
        <p>By clicking ‘Accept’, I hereby</p>

        <ul>
          <li>Agree and consent to the 'Terms of Use'</li>
          <li>Agree and consent to the 'Privacy Policy'</li>
        </ul>
</div>
</div>


<div class="row">
  <div class="col-md-3 col-lg-3  ">
  
  <button   nbButton  status="primary" class="add-btn" (click)="accpetTerms()">
    Accept
  </button>
</div>
<div class="col-md-3 col-lg-3  ">
  <button  nbButton status="danger"  class="rej-btn status-warning" (click)="rejectTerms()">
    Reject
  </button>
  </div>


</div>


        



      </nb-card-body>
    </nb-card>
  </div>
 <div class="col-md-4">

 </div>

</div>