<nb-card>
  <nb-card-header>
    <div class="titleHeader">
      <div class="titleLeft">
        <div class="LeftBgIcon">
          <img
            class="img-head-logo"
            src="../../../../assets/icons/Credential.svg"
          />
        </div>
        <div class="LeftBgText">
          <h2>Credentials</h2>
          <p>
              Usernames & Passwords for various systems and applications that are used by automations.
          </p>
        </div>
      </div>
      <div class="titleRight">
        <button
          type="button"
          class="btn btn-primary"
          status="primary"
          (click)="addCredential()"
        >
          Add Credential
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">
            Name
            <i
              (click)="onSortClick($event, 'name')"
              [class]="credentialsArr | chevron: page.totalCount"
            ></i>
          </th>
          <th scope="col">
            Provider
            <i
              (click)="onSortClick($event, 'provider')"
              [class]="credentialsArr | chevron: page.totalCount"
            ></i>
          </th>
          <th scope="col">
            Domain
            <i
              (click)="onSortClick($event, 'domain')"
              [class]="credentialsArr | chevron: page.totalCount"
            ></i>
          </th>
          <th scope="col">
            User Name
            <i
              (click)="onSortClick($event, 'userName')"
              [class]="credentialsArr | chevron: page.totalCount"
            ></i>
          </th>
          <!-- <th scope="col">
            Start Date
            <i (click)="onSortClick($event, 'startDate')" [class]="credentialsArr | chevron: page.totalCount"></i>
          </th>
          <th scope="col">
            End Date
            <i (click)="onSortClick($event, 'endDate')" [class]="credentialsArr | chevron: page.totalCount"></i>
          </th> -->
          <th scope="col">View</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="
            let data of credentialsArr
              | paginate
                : {
                    id: '1',
                    itemsPerPage: page.pageSize,
                    currentPage: page.pageNumber,
                    totalItems: page.totalCount
                  }
          "
        >
          <td>
            <ngx-tooltip [data]="data?.name" [size]="30"> </ngx-tooltip>
          </td>
          <td>
            <ngx-tooltip [data]="data?.provider" [size]="16"> </ngx-tooltip>
          </td>
          <td>
            <ngx-tooltip [data]="data?.domain" [size]="16"> </ngx-tooltip>
          </td>
          <td>
            <ngx-tooltip [data]="data?.userName" [size]="16"> </ngx-tooltip>
          </td>
          <!-- <td>
            <ngx-tooltip [data]="data.startDate | timeDate: 'll' " [size]="12"> </ngx-tooltip>
          </td>
          <td>
            <ngx-tooltip [data]="data.endDate | timeDate: 'll' " [size]="12"> </ngx-tooltip>
          </td> -->
          <td>
            <a (click)="viewCredential(data?.id)"
              ><i class="fa fa-eye" aria-hidden="true"></i
            ></a>
          </td>
          <td>
            <a (click)="editCredential(data?.id)">
              <i class="fa fa-edit" aria-hidden="true"> </i>
            </a>
          </td>
          <td>
            <a (click)="openDeleteDialog(deleteDialog, data?.id)">
              <img
                src="../../../assets/images/del-icon.png"
                alt="Delete Icon"
              />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-body class="noTopPadding">
    <div class="row pagerow">
      <div class="col-md-8 col-lg-8 no-left-padding">
        <pagination-controls
          id="1"
          class="paginateDiv"
          previousLabel="Prev"
          nextLabel="Next"
          responsive="true"
          (pageChange)="pageChanged($event)"
          (pageBoundsCorrection)="pageChanged($event)"
          directionLinks="true"
          autoHide="true"
          screenReaderPaginationLabel="Pagination"
          screenReaderPageLabel="page"
          screenReaderCurrentLabel="You're on page"
        ></pagination-controls>
      </div>

      <div
        class="col-md-4 col-lg-4 text-right no-right-padding"
        *ngIf="page.totalCount > 5"
      >
        <label class="label">Total {{ page.totalCount }} /</label>
        <select
          class="custom-select per-page-drop"
          (change)="selectChange($event)"
        >
          <option *ngFor="let item of itemsPerPage" [value]="item.id">
            {{ item.name }}
          </option>
        </select>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #deleteDialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <h6>Delete Credentials </h6>
    </nb-card-header>
    <nb-card-body>
      <div aria-labelledby="title">
        <p>Are you sure you want to delete?</p>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button
        [disabled]="isDeleted"
        class="btn btn-danger"
        (click)="deleteCredential(ref)"
      >
        Delete
      </button>
      <button  class="btn btn-light"   style="margin-left: 11px" (click)="ref.close()">
        Cancel
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
