.p-text{
    background-color: #f7f9fc;
    border-radius: 7px;
}
.text-color{
   
    color: #000000;
}

 
  
  
.link{
  color: cornflowerblue;
    font-size: 14px;
}
  
.img{
  height: 29px;
}
.btnimg{
  background-color: #e4e9f2;
}
