.headerSchdule .titleLeft{
    width: 78%;
}
.headerSchdule .titleRight{
    width: 19%;
}
.per-page-drop {
    width: 141px;
    height: 37px;
}

.table-image {

    td,
    th {
        vertical-align: middle;
    }
}

.table tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}


.scheduleBtn{
    margin-right: 10px;
    padding: 0px;
}
.scheduleBtn img{
    width: 32px;
}
@media only screen and (min-width: 10px)and (max-width: 810px) {
    .headerSchdule .titleRight {
        width: 21%;
    }
}
@media only screen and (min-width: 10px)and (max-width: 600px) {
    .headerSchdule .titleRight {
        width: auto;
    }
}
@media only screen and (max-width: 750px) {
    .checkbox.checbox-switch label{
      margin-bottom: 0px;
    }
    table, thead, tbody, th, td, tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr {
      border: 1px solid #ccc;
    }
    td {
      border: none;
      border-bottom: 1px solid #e0e0e0;
      position: relative;
      padding-left: 20px;
      margin-left: 150px;
      min-height: 50px;
    }
    td:before {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 151px;
      padding: 12px;
      white-space: nowrap;
      margin-left: -150px;
      min-height: 50px;
      border-bottom: 1px solid #e0e0e0;
    }
    td:nth-of-type(1):before {
      content: "Name";
    }
    td:nth-of-type(2):before {
      content: "Agent Name";
    }
    td:nth-of-type(3):before {
      content: "Process Name";
    }
    td:nth-of-type(4):before { 
      content: "Status";
    }
    td:nth-of-type(5):before { 
        content: "View";
    }
    td:nth-of-type(6):before { 
    content: "Edit";
    }
    td:nth-of-type(7):before { 
    content: "Delete";
    }
}
@media only screen and (max-width: 500px) {
    td:before {
      width: 111px;
      margin-left: -101px;
    }
    td{
      margin-left: 100px;
    }
} 
