  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
          <div class="row">
            <div class="col-md-8 col-lg-8 col-xxxl-6">
              <h2>Asset Detail</h2>
            </div>
  
            <div class="col-md-4 col-lg-4 col-xxxl-6 text-right"  >
              <button type="button" nbTooltip="View Change Logs" nbTooltipPlacement="top" class="btn " (click)="gotoaudit()"  > 
                <img class="img" src="../../../../assets/images/auditLog.svg">   </button>
            </div>
          </div>
        
        </nb-card-header>
        <nb-card-body>
          <form [formGroup]="addagent"  >
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group ">
                      <label for="agentname" class="label  col-form-label">Name</label>
                       <input type="input" nbInput fullWidth id="agentname" formControlName="name"    style="color:#000000" >
                      </div>
                    </div>
                    
                        <div class="col-md-6">
                          <div class="form-group ">
                            <label for="agentname" class="label  col-form-label">Type </label>
                            
                             <input type="input" nbInput fullWidth id="agentname" formControlName="type"  style="color:#000000" >
                            </div>
                          </div> 
                       
              </div>
              <div class="row" >

            

                 <div class="col-md-12" *ngIf="show_allagents.type == 'Number'" >
                  <div class="form-group ">
                    <label for="agentname" class="label  col-form-label">Number </label>
                
                     <input type="input" nbInput fullWidth id="numberValue" formControlName="numberValue" style="color:#000000"  >
               
                   
                    </div>
                  </div>




                  <div class="col-md-12" *ngIf="show_allagents.type == 'Text'" >
                    <div class="form-group ">
                      <label for="agentname" class="label  col-form-label">Text </label>
                     
                       <textarea rows="10" type="input" nbInput fullWidth id="textValue" formControlName="textValue"  style="color:#000000" >
                         </textarea>

               
                       
                      </div>
                    </div>


                  <div class="col-md-12" *ngIf="show_allagents.type == 'JSON'" >
                    <div class="form-group ">
                      <label for="agentname" class="label  col-form-label">Value Json</label>
                      <p class="p-text">
                       <ngx-json-viewer [json]="jsonValue" [expanded]="false"></ngx-json-viewer>
                       </p>
                      </div>
                    </div>
                  
              </div>



              <div class="row" >


                <div class="col-md-6"   >
                 <div class="form-group ">
                   <label for="createdBy" class="label  col-form-label">Created By  </label>
               
                    <input type="input" nbInput fullWidth id="createdBy" formControlName="createdBy" style="color:#000000"  >
              
                  
                   </div>
                 </div>




                 <div class="col-md-6"  >
                   <div class="form-group ">
                     <label for="createdOn" class="label  col-form-label">Created On </label>
                   
                      <input   type="input" nbInput fullWidth id="createdOn" formControlName="createdOn"  style="color:#000000">
                       

                     
                      
                     </div>
                   </div>

 
             </div>

             <div class="row" >


              <div class="col-md-6"  >
 
                   <button class="btn-down" (click)="onDown()"><i class="fa fa-download"></i> Download</button>
           
               </div>
               </div>

 
              
          </form>
        </nb-card-body>
      </nb-card>
  
      
    </div>
    </div>